<!DOCTYPE html>
{% include 'templates/home/navbar.html' %}

<html>
<body>
{% load staticfiles %}
<div class="container">
    <div class="marketing">
        <h1>Introducing CourseReview.</h1>

        <p class="marketing-byline">Need help selecting courses? Look no further.</p>

        <div class="row-fluid">

            <div class="span4">
                <i class="icon-search homepage-icon" style="color: #ff0000;opacity: 0.7"></i>

                <h2>the <span class="focus">what</span>.</h2>

                <p>
                <ul>
                    <li class="left">Will this course send my GPA down the gutters?</li>
                    <li class="right">Does this course have a project?</li>
                    <li class="left">Yikes, Fourier Series and Calc 3!?</li>
                    <li class="right">Want a 4-day work week?</li>
                    <li class="left">Cant find 5 non-clashing subjects that I can take?</li>
                    <li class="centre">Well, now you'll know.</li>
                    <li>This is the IMDB and one-click shopping cart of college courses. The "experienced senior" if you
                        will. But better. We want you to be in control. This puts you in control.
                    </li>
                    <li>We give you feedback and reviews on your courses - and your chosen, valid, course
                        combinations.
                    </li>
                </ul>
                </p>
            </div>
            <div class="span4">
                <i class="icon-question homepage-icon" style="color: #ff0000;opacity: 0.7"></i>

                <h2>the <span class="focus">why</span>.</h2>

                <p>
                <ul>
                    <li class="left">Education is important. You invest a lot of your money and time into it.</li>
                    <li class="right">We want to enable you to make smart choices, ones that align with your
                        priorities.
                    </li>
                    <li class="left">Often students get stuck in courses that (temporarily) ruin their lives.</li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li class="centre">But you don't want that.</li>
                    <li>You want high application, project based, easy-to-score courses. You don't mind extra
                        assignments or waiting between classes.
                    </li>
                </ul>
                </p>
            </div>

            <div class="span4">
                <i class="icon-ok homepage-icon" style="color: #ff0000;opacity: 0.7"></i>

                <h2>the <span class="focus">how</span>.</h2>

                <p>
                <ul>
                    <li class="left">Nailed a course? Got nailed down by another? Review it.</li>
                    <li class="right">Have a large heart. Share the pearls of wisdom and experience.</li>
                    <li class="left">Access a database of comprehensive reviews of past experiences with courses.</li>
                    <li class="right">Find the ones that fit your requirements.</li>
                    <li></li>
                    <li class="centre">We go the distance.</li>
                    <li>We'll look at your time table and constraints, and suggest combinations of high preference to
                        you.
                    </li>
                    <li>This time you wont sign up for being nuked in the rear by homework while you're blindfolded.
                        This time, you'll see it coming.
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>
{% include 'templates/home/footer.html' %}
</body>
</html>