<!DOCTYPE html>
{% include 'templates/home/navbar.html' %}
<html>

<body>
<div class="container">
    <h2 class="contact_h2">Contact Us</h2>
    <p class="contact_desc">At coursereview, we would be glad to be of service to you. We are always happy to hear any kind of suggestions, questions and feedback from you.</p>
    <br>
    <h4 class="contact_h4">EMAIL</h4>

    <table class="email-href" >
        <tr class="spaceUnder">
            <td><a class="contact_name">Aditya Gupta</a> </td>
            <td> <a href="mailto:Aditya11009@iiitd.ac.in" class="contact_email">Aditya11009@iiitd.ac.in</a></td>
        </tr>
    </table>
</div>

{% include 'templates/home/footer.html' %}
</body>
</html>