<!DOCTYPE html>
{% include 'templates/home/user_navbar.html' %}
{% load django_select2_tags %}
<html>
<head>
    {% load staticfiles %}
    <script src="{% static 'js/select2.js' %}"></script>
    <link href="{% static "css/select2.css" %}" media="screen" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static "css/tabs/invertedshiftdown.css" %}">
    <title></title>
</head>
<body>
    <div class="container">
    <div class="inner-page">
        <div class="row">
            <div class="span11">
                <h3 class="page-header">Watchlist</h3>
            </div>
        </div>

        <ul class="nav nav-tabs">
          <li><a href="/watchlist-allCourses/">Current Courses</a></li>
          <li><a href="/watchlist-addCourses/">Find more Courses</a></li>
        </ul>
        <div id="content" class="span11"><br>

            <div class="well well-title">
                {% if not form %}
                    <div>
                        <span>No courses found in the DB.</span>
                    </div>
                {% elif form %}
                    <form method="POST" id="courseForm" action="." style="padding-bottom: 0; margin-bottom: 0">

                        <div class="badge pull-right">Hint: You can start typing the title of the course</div>
                        {% csrf_token %}
                        <p class="noChoice">{{ form.fieldname.errors.as_text }}</p>
                        <table>
                            {{ form }}
                        </table>
                        <input id="selectButton" style="display:none" type="submit"/>
                    </form><br/>
                    <button type="button" id="Submit" class="btn btn-primary" onclick='$("#selectButton").click();'>Select</button>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
</body>
</html>