<!DOCTYPE html>
{% include 'templates/home/user_navbar.html' %}

<html>
<head>
   <meta http-equiv="refresh" content="10; /../home">
</head>
<body>
    <div class="span6 feedback-thanks">
            <div class="modal-header" style="text-align: center">
                <h2>CourseReview Team</h2>
            </div>
            <div class="modal-body">
                We have received your Review! We hope, you posted a fair, sincere and good review .
            </div>
            <div class="modal-footer feedback-home">
                <a href="/home"><button type="button" class="btn Home">Home</button></a>
            </div>
        </div>
</body>
</html>